<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VijaySridhara.Applications.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
  <userSettings>
    <VijaySridhara.Applications.Settings>
      <setting name="AutoSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NoteBackColor" serializeAs="String">
        <value>192, 255, 192</value>
      </setting>
      <setting name="NoteForeColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="NoteFont" serializeAs="String">
        <value>Microsoft Sans Serif, 9.75pt</value>
      </setting>
      <setting name="TitleFont" serializeAs="String">
        <value>Arial Narrow, 9.75pt, style=Bold</value>
      </setting>
      <setting name="TitleForeColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="TitleBackColor" serializeAs="String">
        <value>192, 0, 0</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="ActiveNotesAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
    </VijaySridhara.Applications.Settings>
  </userSettings>
</configuration>